.init{
    text-align: center;
    color: #f6574a;
    font-size: 12px;
}

.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fixd-header.am-navbar{
    position: fixed;
    top: 0;
    width: 100%
}
.page-content{
    padding: 45px 5px;
}